$theme-primary: #0034bb;
$theme-secondary: #000000;
$theme-success: #2bba1d;
$theme-info: #7f00bb;
$theme-warning: #ffc246;
$theme-error: #ba0000;
$theme-text: #212121;
$theme-text-two: #1c1c1c;

$theme-grey-one: #1f2937;
$theme-grey-two: #374151;
$theme-grey-three: #4b5563;
$theme-grey-four: #6b7280;
$theme-grey-five: #9ca3af;
$theme-grey-six: #d1d5db;
$theme-grey-seven: #f3f4f6;

$theme-white: #ffffff;
$theme-green: #027a48;
